<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <title>TravelTour</title>
  </head>

  <body>
    <div class="mainPicture">
      <img class="mainPicture__moon" src="/assets/image/moon.svg" alt="moon" />
      <img class="mainPicture__mountains" src="/assets/image/mountains.svg" alt="mountains" />
      <img class="mainPicture__cloud" src="/assets/image/cloud.svg" alt="cloud" />

      <h1 class="mainPicture__title">Carpathian Mountain Tours</h1>
      <h4 class="mainPicture__subtitle">Dream. Explore. Carpathians</h4>

      <a href="#" class="mainPicture__button-main" onclick="onClick()"
        >Замовити тур <img src="/assets/image/row-button.svg" alt="row"
      /></a>
      <!-- <span id="clicks">0</span> -->
    </div>
    <div class="routesPage">
      <div class="routesPage__title">Обирайте свій маршрут</div>
      <div class="routesPage__wrapperRoutes">
        <div class="routesPage__route">
          <img src="/assets/image/route1-image.jpg" alt="routeIMG">
          <div class="txtWrap">
            <h2>Гребінний шлях</h2>
            <p>Досліджуйте красу Карпатських хребтів, які протягуються серед зелених лісів та прекрасних
              водоспадів.
            </p>
          </div>
          <div class="navRouteWrap">
            <a href="#" class="mainPicture__button-main">Замовити тур <img src="/assets/image/row-button.svg"
                alt="row"></a>
            <div class="navRouteWrap__heartWrapper">
              <a onclick="onClick2()"><svg class="heartIMG" xmlns="http://www.w3.org/2000/svg" width="25" height="22"
                  viewBox="0 0 25 22" fill="none">
                  <path
                    d="M12.5 5.25508C10.0556 -0.333519 1.5 0.261717 1.5 7.40458C1.5 14.5475 12.5 20.5 12.5 20.5C12.5 20.5 23.5 14.5475 23.5 7.40458C23.5 0.261717 14.9444 -0.333519 12.5 5.25508Z"
                    stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg></a>
              <span class="count-hearts" id="clicks2">15</span>
            </div>
          </div>
        </div>
        <div class="routesPage__route">
          <img src="/assets/image/route2-image.jpg" alt="routeIMG">
          <div class="txtWrap">
            <h2>Вершинний пошук</h2>
            <p>Цей маршрут пролягає через найвищі вершини Карпат, з неймовірними видами на гори та долини.
            </p>
          </div>
          <div class="navRouteWrap">
            <a href="#" class="mainPicture__button-main">Замовити тур <img src="/assets/image/row-button.svg"
                alt="row"></a>
            <div class="navRouteWrap__heartWrapper">
              <a onclick="onClick3()"><svg class="heartIMG" xmlns="http://www.w3.org/2000/svg" width="25" height="22"
                  viewBox="0 0 25 22" fill="none">
                  <path
                    d="M12.5 5.25508C10.0556 -0.333519 1.5 0.261717 1.5 7.40458C1.5 14.5475 12.5 20.5 12.5 20.5C12.5 20.5 23.5 14.5475 23.5 7.40458C23.5 0.261717 14.9444 -0.333519 12.5 5.25508Z"
                    stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg></a>
              <span class="count-hearts" id="clicks3">20</span>
            </div>
          </div>
        </div>
        <div class="routesPage__route">
          <img src="/assets/image/route3-image.jpg" alt="routeIMG">
          <div class="txtWrap">
            <h2>Долинний похід</h2>
            <p>Цей маршрут веде вас через живописні долини, де ви зможете насолодитися чистим повітрям біля гірських
              потоків.
            </p>
          </div>
          <div class="navRouteWrap">
            <a href="#" class="mainPicture__button-main">Замовити тур <img src="/assets/image/row-button.svg"
                alt="row"></a>
            <div class="navRouteWrap__heartWrapper">
              <a onclick="onClick4()"><svg class="heartIMG" xmlns="http://www.w3.org/2000/svg" width="25" height="22"
                  viewBox="0 0 25 22" fill="none">
                  <path
                    d="M12.5 5.25508C10.0556 -0.333519 1.5 0.261717 1.5 7.40458C1.5 14.5475 12.5 20.5 12.5 20.5C12.5 20.5 23.5 14.5475 23.5 7.40458C23.5 0.261717 14.9444 -0.333519 12.5 5.25508Z"
                    stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg></a>
              <span class="count-hearts" id="clicks4">0</span>
            </div>
          </div>
        </div>
        <div class="routesPage__route">
          <img src="/assets/image/route4-image.jpg" alt="routeIMG">
          <div class="txtWrap">
            <h2>Експедиція у ліс</h2>
            <p>Підкорюйте Карпатські ліси, де вас чекають зустрічі з дикою природою та неймовірними видами флори та фауни.
            </p>
          </div>
          <div class="navRouteWrap">
            <a href="#" class="mainPicture__button-main">Замовити тур <img src="/assets/image/row-button.svg"
                alt="row"></a>
            <div class="navRouteWrap__heartWrapper">
              <a onclick="onClick5()"><svg class="heartIMG" xmlns="http://www.w3.org/2000/svg" width="25" height="22"
                  viewBox="0 0 25 22" fill="none">
                  <path
                    d="M12.5 5.25508C10.0556 -0.333519 1.5 0.261717 1.5 7.40458C1.5 14.5475 12.5 20.5 12.5 20.5C12.5 20.5 23.5 14.5475 23.5 7.40458C23.5 0.261717 14.9444 -0.333519 12.5 5.25508Z"
                    stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg></a>
              <span class="count-hearts" id="clicks5">0</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/js/script.js" defer></script>
  </body>
</html>
