<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <title>TravelTour</title>
  </head>

  <body>
    <div class="mainPicture">
      <img class="mainPicture__moon" src="/assets/image/moon.svg" alt="moon" />
      <img class="mainPicture__mountains" src="/assets/image/mountains.svg" alt="mountains" />
      <img class="mainPicture__cloud" src="/assets/image/cloud.svg" alt="cloud" />

      <h1 class="mainPicture__title">Carpathian Mountain Tours</h1>
      <h4 class="mainPicture__subtitle">Dream. Explore. Carpathians</h4>

      <a href="#" class="mainPicture__button-main" onclick="onClick()"
        >Замовити тур <img src="/assets/image/row-button.svg" alt="row"
      /></a>
      <span id="clicks">0</span>
    </div>
    <script src="/assets/js/script.js" defer></script>
  </body>
</html>
